*.bak
*.cfg
*.png
*.pyc
*.swp
*.tsv
*.xlsx
.DS_Store
.Rhistory
.pgpass
Session.vim
__pycache__
db/archive/
db/config.sh
db/sample-tracker.tsv
db/scripts/config.sh
web/app/__pycache__
web/app/static/js/lib
web/scratch
web/venv
tags
db/data
config.sh
typescript
