<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    {% if title %}
    <title>{{ title }} - HuBMAP/Stanford TMC</title>
    {% else %}
    <title>HuBMAP/Stanford TMC</title>
    {% endif %}
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/site.css') }}">
  </head>

  <body>
    <div id='sidebar'>
      <div id='subject'>Colon map</div>
      <ul>
        {% for subject in subjects %}
          <li><a href='{{ url_for("map", subject=subject.id) }}'> {{ subject.id }} </a></li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
