<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% if title %}
    <title>{{ title }} - HuBMAP/Stanford TMC</title>
    {% else %}
    <title>HuBMAP/Stanford TMC</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css') }}">
    <script type="text/javascript" src="{{ url_for("static", filename="js/lib/sort-table.js") }}"></script>
  </head>

  <body>
    <header> {{ subject_id if subject_id else "HTAN" }} </header>

    <aside>
      <div id="controls">
        <fieldset id="colon_select_fieldset">
          <legend id="colon_select_legend">Colon</legend>
            {# display links to other colons #}
            {% for subject in subjects["data"] %}
              <label><a href="{{ url_for("map", subject_id=subject.subject_bk) }}">{{ subject.subject_bk }}</a></label>
            {% endfor %}
          </select>
        </fieldset>

        <fieldset id="tissue_type_fieldset">
          <legend id="tissue_type_legend">Tissue Type</legend>
          <input type="checkbox" name="tissue_type" id="tissue_type_normal" value="normal" checked="true"><label for="tissue_type_normal">Unaffected</label><br/>
          <input type="checkbox" name="tissue_type" id="tissue_type_polyp" value="polyp" checked="true"><label for="tissue_type_polyp">Polyp</label><br/>
          <input type="checkbox" name="tissue_type" id="tissue_type_adca" value="adca" checked="true"><label for="tissue_type_adca">AdCa</label><br/>
        </fieldset>

        <fieldset id="size_fieldset">
          <legend id="size_legend">Size</legend>
          <!--<input type="checkbox" name="size" id="size_NA" value="NA" checked="true"><label for="size_NA">N/A</label><br/>-->
          <input type="checkbox" name="size" id="size_small" value="small" checked="true"><label for="size_small">Small</label><br/>
          <input type="checkbox" name="size" id="size_medium" value="medium" checked="true"><label for="size_medium">Medium</label><br/>
          <input type="checkbox" name="size" id="size_large" value="large" checked="true"><label for="size_large">Large</label><br/>
        </fieldset>

        <fieldset id="phenotype_fieldset">
          <legend id="phenotype_legend">Polyp Phenotype</legend>
          <input type="checkbox" name="phenotype" id="phenotype_sessile" value="sessile" checked="true"><label for="phenotype_sessile">Sessile</label><br/>
          <input type="checkbox" name="phenotype" id="phenotype_stalk" value="stalk" checked="true"><label for="phenotype_stalk">Stalk</label><br/>
        </fieldset>

        <fieldset id="location_fieldset">
          <legend id="location_legend">Location</legend>
          <input type="checkbox" name="location" id="location_ascending" value="ascending" checked="true"><label for="location_ascending">Ascending</label><br/>
          <input type="checkbox" name="location" id="location_transverse" value="transverse" checked="true"><label for="location_transverse">Transverse</label><br/>
          <input type="checkbox" name="location" id="location_descending" value="descending" checked="true"><label for="location_descending">Descending</label><br/>
          <input type="checkbox" name="location" id="location_rectum" value="rectum" checked="true"><label for="location_rectum">Rectum</label><br/>
        </fieldset>

        <fieldset id="assay_fieldset">
          <legend id="assay_legend">Assays</legend>
          <input type="checkbox" name="assay_any"          id="assay_any"          value="" checked="true"><label for="assay">any</label><br/>
          <input type="checkbox" name="assay_all"          id="assay_all"          value="" checked="true"><label for="assay">all</label><br/>
          <input type="checkbox" name="assay_only"         id="assay_only"         value="" checked="true"><label for="assay">only:</label><br/>
          <input type="checkbox" name="assay_atacseq_bulk" id="assay_atacseq_bulk" value="" checked="true" style="margin-left: 20px"><label for="assay">ATACseq/bulk</label><br/>
          <input type="checkbox" name="assay_atacseq_sn"   id="assay_atacseq_sn"   value="" checked="true" style="margin-left: 20px"><label for="assay">ATACseq/sn</label><br/>
          <input type="checkbox" name="assay_lipidomics"   id="assay_lipidomics"   value="" checked="true" style="margin-left: 20px"><label for="assay">Lipidomics</label><br/>
          <input type="checkbox" name="assay_metabolomics" id="assay_metabolomics" value="" checked="true" style="margin-left: 20px"><label for="assay">Metabolomics</label><br/>
          <input type="checkbox" name="assay_proteomics"   id="assay_proteomics"   value="" checked="true" style="margin-left: 20px"><label for="assay">Proteomics</label><br/>
          <input type="checkbox" name="assay_rnaseq_bulk"  id="assay_rnaseq_bulk"  value="" checked="true" style="margin-left: 20px"><label for="assay">RNAseq/bulk</label><br/>
          <input type="checkbox" name="assay_rnaseq_sn"    id="assay_rnaseq_sn"    value="" checked="true" style="margin-left: 20px"><label for="assay">RNAseq/sn</label><br/>
          <input type="checkbox" name="assay_wgs"          id="assay_wgs"          value="" checked="true" style="margin-left: 20px"><label for="assay">WGS</label><br/>
        </fieldset>
      </div>
    </aside>

    <main>
      <div id="viz-wrapper">
        {% if subject_id %}
          {% include "svg/" + subject_id + ".svg" %}
        {% endif %}
      </div>
    </main>

    <footer>
      <div id="tabs">
        {% for table in tables %}
        <div class="tab">
          <input type="radio" id="tab-{{ table }}" name="tabbed-tables-group" checked>
          <label for="tab-{{ table }}">{{ table }} <a class="download-link" table_id="table-{{ table }}" style="color: blue; font-size: 10px; font-variant: small-caps">[CSV]</a></label>
          <div class="content">
            <table id="table-{{ table }}" class="js-sort-table" content="{{ table }}">
              <thead>
                <tr>
                  {% for column in tables[table]["header"] %}
                    {# looking for specific columns to sort as numbers will work for now but soon you"ll need to pass the data type from the database as well #}
                    {% if column.lower() in ["length", "width", "depth", "x", "y" ] %}
                      <th class="js-sort-number">{{ column }}</th>
                    {% else %}
                      <th class="js-sort-string">{{ column }}</th>
                    {% endif %}
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for row in tables[table]["data"] %}
                  <tr>
                    {% for value in row %}
                      <td>{{ value if value else "--" }}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
              <tfoot> </tfoot>
            </table>
          </div>
        </div>
        {% endfor %}
      </div>
    </footer>
    <!-- JavaScript files down here because they reference page elements (UI)
         or are large unsightly object templates (Domain) -->
    <script type="text/javascript"> {% include "js/Domain.js" %} </script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/UI.js") }}"></script>
    <script type="text/javascript">
      window.onload = function () {
        var domain = APP.Domain;
        var subject = domain.subject;
        var samples = domain.samples;

        var UI = APP.UI;
        UI.Viz = UI.Viz({ elementID        : "viz",
                          frame_width      : 1500,
                          frame_height     : 400,
                          conversion_factor: 10,
                          horizontal_offset: 20,
                          vertical_offset  : 20 });
        UI.HorizontalRuler();
        UI.VerticalRuler();
        subject.sections.forEach(
          function (section) {
            UI.Section( section );
            UI.SectionLabel( section );
          }
        );

        var pins = UI.pins = [ ];
        samples.forEach( sample => pins.push( UI.Pin( subject, sample ) ) );

        var tables = UI.tables = [ ];
        document.querySelectorAll('footer table').forEach( element => tables.push( UI.Table(element))); 

        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach( function (checkbox) {
          checkbox.addEventListener('click', UI.setVisibility);
          checkbox.addEventListener('click', UI.Viz.update);
          tables.forEach(
            table => checkbox.addEventListener('click', table.update) );
        //    checkbox.addEventListener('click', drawDistance);
        });

        APP.UI.setVisibility();
        APP.UI.refresh();

        pins.forEach( function(pin, i) {
          pin.element = document.getElementById(pin.id);
          pin.element.addEventListener("mouseover",
            function (e) {
              pin.drawDistanceLines();
              UI.tables.forEach(
                table => table.highlightRows(pin.id)
              );
            }
          );
        });

        var links = document.querySelectorAll("footer .tab label a.download-link");
        links.forEach(
          link => link.addEventListener("click",
            e => UI.tables.forEach(
              function (table) {
                if (table.element.id === link.getAttribute("table_id"))
                  return table.download();
              }
            )
          )
        );

        return;
      };
    </script>
  </body>
</html>
