body {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: 100px auto 560px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url(../img/texture_small.png);
  text-transform: uppercase;
}

header {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  padding-left: 40px;
  padding-top: 40px;
  background: #303438;
  color: #ffffff;
  font-family: Times;
  font-style: italic;
  font-size: 50px;
  font-weight: bold;
}

aside {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 4;
  z-index: 1;
  padding: 20px;
  background: #303438;
  color: #ffffff;
}

aside ul {
  list-style-type: none;
}

aside a {
  color: #ffffff;
}

#controls fieldset {
  margin-bottom: 20px;
}

#controls legend {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
}

#controls label {
  font-size: 14px;
  letter-spacing: 3px;
}

main {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}

#viz {
  margin: 20px;
  border: 1px solid #070707;
}

footer {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: -1;
}

/* tab code from https://css-tricks.com/functional-css-tabs-revisited/ */
#tabs {
  position: relative;
  top: 20px;
  left: 20px;
  width: 1510px;
  min-height: 530px;
  /*clear: both;*/
}

.tab {
  float: left;
  border-radius: 4px 4px 0 0;
}

.tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px;
}

.tab [type=radio] {
  display: none;   
}

.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
}

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

footer table {
  z-index: -1;
  border-collapse: collapse;
}

footer table th, table td {
  padding: 4px 8px;
}

footer table thead {
  text-align: left;
  font-size: 15px;
  color: #070707;
}

footer table tbody {
}

footer table td {
  font-size: 14px;
}

footer tr.highlighted {
  background: #8c8c8c;
  color: #fff;
  font-style: italic;
}

footer table tfoot th {
  background: #4f81bd;
  text-align: left;
  font-weight: normal;
  font-size: 10px;
  color: #fff;
}
